@use "../presets" as *;
@use "../mixins" as *;

.about {
  &__experiense {
    display: flex;
    justify-content: center;

    @include lg-min {
      margin-bottom: 80px;

      gap: 60px;
    }
    @include lg {
      flex-wrap: wrap;

      gap: $gap-lg;
    }
    @include sm {
      gap: $gap;
    }
  }

  &__foto-box {
    position: relative;

    display: flex;
    justify-content: center;

    @include sm {
      padding-top: 34px;
    }
  }

  &__foto {
    width: 100%;
    max-width: 1360px;
    margin-bottom: 60px;
    padding: 0 20px;

    @include lg {
      margin-bottom: 20px;
    }
    @include xx {
      min-height: 290px;

      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 30px;

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    letter-spacing: 63px;
    text-transform: uppercase;

    opacity: 0.8;
    color: $color-white;
    text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);

    font-size: 96px;
    line-height: 113px;

    @include xl {
      // margin-right: -15px;
      // max-width: 65vw;
      top: 30%;

      letter-spacing: 55px;

      font-size: 70px;
    }
    @include lg {
      letter-spacing: 50px;

      font-size: 50px;
    }
    @include md {
      top: 25%;

      letter-spacing: 40px;

      font-size: 40px;
    }
    @include sm {
      top: 30%;

      letter-spacing: 30px;

      font-size: 30px;
    }
    @include xx {
      top: 45%;
      left: 0;

      letter-spacing: 20px;

      font-size: 36px;
      line-height: 42px;
    }
  }

  &__text-box {
    display: flex;
    justify-content: center;

    width: min(100% - 40px, 1320px);
    margin-bottom: 80px;

    gap: $gap-xl;
    @include lg {
      flex-wrap: wrap;

      margin-bottom: 60px;
    }
    @include sm {
      margin-bottom: 40px;

      gap: $gap;
    }
    margin-inline: auto;
  }

  &__description {
    color: $color-black;

    font-size: $font-size-21;
    line-height: 30px;

    @include lg-min {
      width: 641px;
    }
    @include sm {
      font-size: $font-size-18;
      line-height: 26px;
    }
  }

  &__text {
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: $font-size-42;
    line-height: 50px;

    @include lg-min {
      width: 414px;
    }
    @include sm {
      font-size: $font-size-32;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }
}
