@use "../presets" as *;
@use "../mixins" as *;

.archievments {
  padding-top: 28px;
  padding-bottom: 28px;

  border-radius: 12px 12px 0 0;
  background: $color-grey-bg;
  &__title {
    margin-bottom: 30px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-main;

    font-size: $font-size-14;
    line-height: 17px;
  }

  &__item-box {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;

    gap: $gap-xl;
    @include lg {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      gap: $gap;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;

    height: 109px;

    border-radius: 12px;
    background: $color-white;

    @include sm {
      height: 57px;
    }
  }

  &__logo {
    max-height: 100%;
    padding: 10px;
  }
}
