@use "../presets" as *;
@use "../mixins" as *;

.benefits {
  background: $color-main;

  @include sm {
    padding-top: 22px;
  }

  &--alt {
    padding-top: 75px;

    @include sm {
      margin-top: 0;
      padding-top: 10px;
    }
  }
  &__slider {
    padding-top: 90px;
    padding-bottom: 78px;

    @include md {
      padding-top: 40px;
      padding-bottom: 44px;
    }
  }
}
