@use "../presets" as *;
@use "../mixins" as *;

.benefits {
  background: $color-main;
  position: relative;

  @include sm {
    padding-top: 22px;
  }

  &__slider {
    padding-top: 90px;
    padding-bottom: 78px;

    @include md {
      padding-top: 40px;
      padding-bottom: 44px;
    }
  }
}
