@use "../presets" as *;
@use "../mixins" as *;

.benefits-info {
  display: flex;
  align-items: center;
  padding-bottom: 80px;

  @include lg {
    flex-wrap: wrap;

    padding-bottom: 30px;
  }
  @include sm-min {
    padding-top: 80px;
  }
  @include sm {
    padding-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    max-width: 530px;

    @include unlist;
    @include lg-min {
      border-right: 4px solid $color-grey-bg-separator;
      padding-right: 40px;

      gap: $gap;
    }
  }

  &__item {
    text-align: right;
  }

  &__link {
    color: $color-grey-bg-text;

    font-size: $font-size-42;
    font-weight: $font-weight-700;
    line-height: 50px;

    @include lg {
      display: none;
    }
    &:hover {
      background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
      -webkit-background-clip: text;

      -webkit-text-fill-color: transparent;
    }

    &--accent {
      position: relative;

      background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
      -webkit-background-clip: text;
      // background-clip: text;
      // text-fill-color: transparent;
      // border-right: 4px solid $color-accent;

      @include lg {
        display: block;

        color: $color-grey-bg-text;

        font-size: $font-size-42;
        font-weight: $font-weight-700;
        line-height: 50px;
      }
      @include sm {
        letter-spacing: 1px;
        text-transform: uppercase;

        font-size: $font-size-14;
      }
      -webkit-text-fill-color: transparent;

      @include lg-min {
        &::after {
          position: absolute;
          top: 0;
          right: -44px;
          bottom: 0;

          width: 4px;

          content: "";

          background-color: $color-accent;
        }
      }
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;

    gap: $gap;
    @include lg-min {
      max-width: 630px;
      padding-left: 40px;
    }
    @include sm {
      margin-top: -8px;

      gap: $gap-md;
    }
  }

  &__title {
    color: $color-white;

    font-size: $font-size-32;
    font-weight: $font-weight-500;
    line-height: 38px;

    @include sm {
      font-size: $font-size-22;
      font-weight: $font-weight-500;
      line-height: 26px;
    }
  }

  &__description {
    color: $color-white;

    font-size: $font-size-21;
    line-height: 30px;

    @include sm {
      font-size: $font-size-18;
      line-height: 26px;
    }
  }
}

// &__button {
//   display: flex;
//   gap: $gap-sm;

//   font-size: $font-size-18;
//   line-height: 26px;

//   @include lg-min {
//     // display: none;
//   }
// }
