@use "../presets" as *;
@use "../mixins" as *;

.Benefits {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 60%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  @include xx {
    background: linear-gradient(
      256.57deg,
      #323264 11.93%,
      #323264 61%,
      #643e72 83.46%
    );
  }
}

.Benefits::after {
  content: "";
  display: block;
  height: 10px;
  width: 1400px;
  position: absolute;
  background: #cacadb;
  border-radius: 0px 0px 12px 12px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

// .Benefits::after {
//   content: "";
//   display: block;
//   height: 20px;
//   width: 1360px;
//   position: absolute;
//   background: #cacadb;
//   border-radius: 0px 0px 12px 12px;
//   margin-left: auto;
//   margin-right: auto;
//   left: 0;
//   right: 0;
// }
