@use "../presets" as *;
@use "../mixins" as *;

.benefits-content {
  &__link {
    // position: relative;
    // font-size: $font-size-14;
    // line-height: 17px;
    // //пересмотреть, что с spacing, должно быть 2
    // letter-spacing: 1px;
    // font-weight: $font-weight-500;
    // text-transform: uppercase;
    // color: $color-white;
    // opacity: 0.5;
    // display: block;
    // padding: 2px 2px 2px 0;

    // &::after {
    //   content: "";
    //   background-image: url(../img/arrow-right.svg);
    //   background-repeat: no-repeat;
    //   position: absolute;
    //   left: 82px;
    //   right: 0;
    //   top: 5px;
    //   bottom: 0;
    // }
  }

  &__title {
    margin-bottom: 68px;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;

    font-size: $font-size-42;
    line-height: 50px;

    @include sm {
      margin-bottom: 20px;

      font-size: $font-size-32;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
  }

  &__wrap {
    display: grid;

    padding-bottom: 76px;

    gap: 58px 54px;
    @include lg-min {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include lg-sm {
      grid-template-columns: 1fr 1fr;
    }
    @include sm {
      font-size: $font-size-38;
      line-height: 46px;

      gap: 40px $gap-xl;
    }
  }
}
