@use "../presets" as *;
@use "../mixins" as *;

.button-group {
  display: flex;
  justify-content: center;

  margin-bottom: 44px;

  gap: $gap-md;
  &__link {
    width: 16px;
    height: 16px;

    opacity: 0.2;
    border-radius: 10px;
    background: $color-active-regular;

    &--active {
      opacity: 1;
      background: $color-active-regular;
    }
  }
}
