@use "../presets" as *;
@use "../mixins" as *;

.cases {
  &__container {
    // border: 1px solid $color-white;
    // border-radius: 0px;
    display: grid;

    background: $color-grey-bg;

    // grid-auto-rows: minmax(198px, auto);
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    border-radius: 12px 12px 0px 0px;
    &--second {
      // grid-template-columns: 320px 453px 547px;
      grid-template-columns: 1.5fr 2fr 2.5fr;

      border-radius: 0 0 12px 12px;
    }
  }

  &__title {
    font-size: $font-size-14;
    line-height: 17px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $color-accent;
    font-weight: $font-weight-700;
    // grid-column: 1/4;
  }

  &__item {
    min-width: 198px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px 20px 20px;
    background: #f5f5fa;
    border: 1px solid $color-white;
    &:nth-of-type(1) {
    }
  }

  &__item-title {
    font-size: $font-size-24;
    font-weight: 500;
    line-height: 28px;
    color: $color-main-soft;
    margin-bottom: 20px;
  }

  &__item-description {
    font-size: $font-size-18;
    line-height: 26px;
    color: $color-grey-bg-text;
  }
}
