@use "../presets" as *;
@use "../mixins" as *;

//ПЕРЕСМОТРЕТЬ ВЕСЬ БЛОК

.companies {
  &__wrap {
    display: grid;
    margin-left: -20px;
    margin-right: -20px;
    grid-auto-rows: 120px;

    @include lg-min {
      // grid-template-columns: repeat(4, minmax(230px, 300px));
      grid-template-columns: repeat(4, 1fr);
    }

    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include md {
      grid-auto-rows: 90px;

      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "a b"
        "c d"
        "h g"
        "e i"
        "l k"
        "j f";
    }
  }

  &__title {
    font-size: $font-size-14;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-main;
    text-align: center;
    margin-bottom: 30px;
  }

  .companies {
    &__img-1 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-2 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-3 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-4 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-5 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-6 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-7 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
      }
    }

    &__img-8 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-9 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-10 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-11 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }

    &__img-12 {
      // max-height: 110px;
      padding: 10px;
      @include xs {
        width: 90%;
        // max-height: 80px;
      }
    }
    &__logo-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1c4280;
      @include md {
        grid-area: a;
      }
    }

    &__logo-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #143646;
      @include md {
        grid-area: b;
      }
    }

    &__logo-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f48b30;
      @include md {
        grid-area: c;
      }
    }

    &__logo-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9e4dc3;
      @include md {
        grid-area: d;
      }
    }

    &__logo-5 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fd9339;
      @include md {
        grid-area: e;
      }
    }

    &__logo-6 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e2e2e4;
      @include md {
        grid-area: f;
      }
    }

    &__logo-7 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #c71c36;
      @include md {
        grid-area: g;
      }
    }

    &__logo-8 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #dcf3f9;
      @include md {
        grid-area: h;
      }
    }

    &__logo-9 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eaeaea;
      @include md {
        grid-area: i;
      }
    }

    &__logo-10 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #282240;
      @include md {
        grid-area: j;
      }
    }

    &__logo-11 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1d4568;
      @include md {
        grid-area: k;
      }
    }

    &__logo-12 {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000000;
      @include md {
        grid-area: l;
      }
    }
  }
}
