@use "../presets" as *;
@use "../mixins" as *;

.contacts {
  &__form {
  }
}
.form {
  background: #f5f5fa;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: $gap;
  width: 527px;
  height: 576px;
  justify-content: space-between;
  padding: 20px;

  @include sm {
    margin-left: -20px;
    margin-right: -20px;
    width: 100vw;
  }
  &__title {
    @include md-min {
      font-size: $font-size-32;
      line-height: 38px;
      background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    @include md {
      font-size: $font-size-22;
      line-height: 26px;
      color: $color-accent;
      font-weight: 500;
    }
  }

  &__name {
    max-width: 487px;
    height: 47px;
    background: $color-white;
    border-radius: 8px;
    border: none;
    padding: 10px;

    &:hover {
      outline: 1px solid $color-accent;
    }
    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  &__text {
    max-width: 487px;
    height: 180px;
    background: $color-white;
    border-radius: 8px;
    border: none;
    padding: 10px;
    &:hover {
      outline: 1px solid $color-accent;
    }
    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  &__title-text {
    font-size: $font-size-14;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-grey-bg-text;
    font-weight: $font-weight-700;
  }
  &__tel {
    max-width: 487px;
    height: 47px;
    background: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 10px;
    &:hover {
      outline: 1px solid $color-accent;
    }
    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  &__email {
    max-width: 487px;
    height: 47px;
    background: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 10px;
    &:hover {
      outline: 1px solid $color-accent;
    }
    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  &__buttom {
    margin-left: auto;
    margin-right: auto;

    &:focus {
      background: $color-active-hover;
      outline: none;
    }
  }
}

::placeholder {
  font-size: $font-size-18;
  line-height: 26px;
  color: $color-grey-bg-text;
}
