@use "../presets" as *;
@use "../mixins" as *;


.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 527px;
  height: 576px;
  padding: 20px;

  border-radius: 12px;
  background: #f5f5fa;

  gap: $gap;
  @include sm {
    width: 100vw;
    margin-right: -20px;
    margin-left: -20px;
  }
  &__title {
    @include md-min {
      background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
      -webkit-background-clip: text;
              background-clip: text;

      font-size: $font-size-32;
      line-height: 38px;

      -webkit-text-fill-color: transparent;
              text-fill-color: transparent;
    }
    @include md {
      color: $color-accent;

      font-size: $font-size-22;
      font-weight: 500;
      line-height: 26px;
    }
  }

  &__name {
    max-width: 487px;
    height: 47px;
    padding: 10px;

    border: none;
    border-radius: 8px;
    background: $color-white;

    &:hover {
      outline: 1px solid $color-accent;
    }
    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  &__text {
    max-width: 487px;
    height: 180px;
    padding: 10px;

    border: none;
    border-radius: 8px;
    background: $color-white;
    &:hover {
      outline: 1px solid $color-accent;
    }
    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  &__title-text {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-grey-bg-text;

    font-size: $font-size-14;
    font-weight: $font-weight-700;
    line-height: 17px;
  }
  &__tel {
    max-width: 487px;
    height: 47px;
    padding: 10px;

    border: none;
    border-radius: 8px;
    background: #ffffff;
    &:hover {
      outline: 1px solid $color-accent;
    }
    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  &__email {
    max-width: 487px;
    height: 47px;
    padding: 10px;

    border: none;
    border-radius: 8px;
    background: #ffffff;
    &:hover {
      outline: 1px solid $color-accent;
    }
    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  &__buttom {
    margin-right: auto;
    margin-left: auto;

    &:focus {
      outline: none;
      background: $color-active-hover;
    }
  }
}

::placeholder {
  color: $color-grey-bg-text;

  font-size: $font-size-18;
  line-height: 26px;
}
