@use "../presets" as *;
@use "../mixins" as *;

.item-experience {
  &__picture {
    display: flex;

    @include sm-min {
      flex-direction: column;

      margin-bottom: 15px;

      gap: $gap;
    }
    @include sm {
      align-items: center;

      margin-bottom: 10px;

      gap: $gap-sm;
    }
  }

  &__img-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 92px;
    height: 92px;

    border-radius: 24px;
    background: $color-white;

    @include sm {
      max-width: 64px;
      height: 64px;

      border-radius: 18px;
    }
  }
  &__img {
    @include sm {
      width: 70%;
    }
  }

  &__title {
    order: 1;

    color: $color-active-regular;

    font-size: $font-size-24;
    font-weight: $font-weight-500;
    line-height: 28px;

    @include sm {
      font-size: $font-size-18;
      line-height: 21px;
    }
  }

  &__description {
    color: $color-white;

    font-size: $font-size-18;
    line-height: 26px;

    @include sm {
      font-size: $font-size-16;
      line-height: 22px;
    }
  }
}
