@use "../presets" as *;
@use "../mixins" as *;

.publication-item {
  display: inline-block;

  width: 100%;
  margin-bottom: 40px;

  border-radius: 8px;
  background: $color-white;

  @include xs {
    margin-bottom: 20px;

    &:nth-child(6) {
      display: none;
    }

    &:nth-child(5) {
      display: none;
    }

    &:nth-child(4) {
      display: none;
    }
  }
  &__img {
    width: 100%;

    &--alt {
      max-width: 906px;
      margin-bottom: 40px;

      border-radius: 18px;

      @include md {
        margin-bottom: 20px;
      }
      @include sm {
        width: 100vw;

        border-radius: 18px 18px 0 0;
      }
    }

    &--sec {
      display: flex;

      max-width: 640px;
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto;
    }
  }

  &__title {
    &--alt {
      margin-bottom: 10px;
      padding: 0 20px;

      color: #323264;

      font-size: 32px;
      line-height: 38px;

      @include md {
        color: $color-main;

        font-size: $font-size-22;
        font-weight: $font-weight-500;
        line-height: 26px;
      }
    }
  }

  &__title-gen {
    margin-bottom: 20px;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: $font-size-42;
    line-height: 50px;

    @include md {
      font-size: $font-size-32;
      line-height: 38px;
    }
    @include sm {
      padding: 0 20px;
    }
    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }

  &__title-sec {
    padding: 10px 20px 10px 20px;

    color: $color-main-alt;

    font-size: $font-size-24;
    line-height: 28px;

    @include md {
      font-size: $font-size-18;
      line-height: 21px;
    }
  }

  &__title-link {
    display: block;

    margin-bottom: 10px;
    padding: 20px 20px 0 20px;

    transition: 0.2s linear;

    color: $color-active-regular;

    font-size: $font-size-18;
    font-weight: 500;
    line-height: 21px;

    &:hover {
      color: $color-accent;
    }
  }

  &__date {
    display: block;

    margin: 0 20px;
    padding-bottom: 18px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-grey-bg-text;

    font-size: $font-size-12;
    font-weight: $font-weight-700;
    line-height: 14px;

    @include xs-min {
      border-bottom: 4px solid $color-grey-bg-separator;
    }

    &--alt {
      border-bottom: 4px solid $color-grey-bg-separator;
    }
  }

  &__desription {
    padding: 20px;

    color: $color-black;

    font-weight: 400;
    line-height: 22px;

    @include xs {
      display: none;
    }

    &--alt {
      font-size: $font-size-18;
      line-height: 26px;

      @include xs {
        display: block;
      }
    }

    &--alt span {
      margin-right: 5px;
      margin-left: 20px;

      text-align: right;

      color: $color-accent;

      font-size: $font-size-18;
      font-weight: $font-weight-700;
      line-height: 26px;
    }

    &--list {
      padding: 10px 20px;

      @include md {
        padding: 0 20px;
      }
      @include sm {
        padding: 0 2 0;
      }
    }
  }

  &__desription-footer {
    margin-bottom: 30px;
    padding: 0 20px;

    text-align: center;

    color: $color-grey-bg-text;

    line-height: 22px;

    @include md {
      margin-bottom: 0;
    }
  }

  &__actions {
    display: flex;

    margin-left: 20px;
    padding-top: 20px;

    border-top: 4px solid $color-grey-bg-separator;

    gap: $gap-sm;
    @include sm {
      justify-content: center;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;

    border-radius: 12px;
    background: $color-grey-bg;
  }

  &__social-img {
    transition: 0.2s linear;

    &:hover {
      transform: scale(1.2);
    }
  }
}
