@use "../presets" as *;
@use "../mixins" as *;

.review {
  &__container {
    display: grid;

    margin-bottom: 20px;
    padding-right: 20px;

    border-radius: 12px;
    background: $color-grey-bg;

    @include lg-min {
      gap: 0 $gap-xl;
      grid-template-columns: 1fr 2fr;
    }
    @include lg {
      padding-left: 20px;
    }
    @include lg-sm {
      grid-template-areas: "foto" "content";
    }
    @include sm {
      margin-bottom: 15px;

      grid-template-areas: "content";
    }
  }

  &__foto {
    @include lg {
      display: flex;
      justify-content: center;

      grid-area: foto;
    }
  }

  &__img {
    @include lg-min {
      max-width: 420px;
      max-height: 511px;
    }
    @include lg {
      display: none;
    }
    @include sm {
    }
  }

  &__content {
    padding-top: 40px;
    padding-bottom: 40px;

    @include md-min {
      max-width: 835px;
    }
    @include md {
      grid-area: content;
    }
    @include sm {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }

  &__title {
    margin-bottom: 20px;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: $font-size-42;
    font-weight: $font-weight-700;
    line-height: 50px;

    @include sm {
      margin-bottom: 5px;

      font-size: $font-size-32;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
  }

  &__author-wrap {
    @include lg {
      position: relative;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 70px;
    }
    @include lg {
      &::before {
        position: absolute;
        top: 4px;
        right: 0;
        bottom: 0;
        left: 0;

        width: 60px;
        height: 60px;
        padding: 30px 0;

        content: "";

        border-radius: 30px;
        background-image: url(../img/author-small.png);
        background-repeat: no-repeat;
        background-size: cover;
      }

      &--team-2 {
        &::before {
          width: 60px;
          height: 60px;

          border-radius: 30px;
          background-image: url(../img/team-2.png);
          background-position: 50% 50%;
          background-size: cover;
        }
      }

      &--team-3 {
        &::before {
          width: 60px;
          height: 60px;

          background-image: url(../img/team-3.png);
          background-position: 50% 50%;
        }
      }
    }
  }

  &__author {
    position: relative;

    margin-bottom: 5px;

    color: $color-grey-bg-text;

    font-size: $font-size-18;
    font-weight: $font-weight-500;
    line-height: 21px;
  }

  &__job {
    color: $color-grey-bg-text;

    line-height: 22px;
  }
}
