@use "../presets" as *;
@use "../mixins" as *;

.sevise-item {
  position: relative;

  padding-top: 180px;
  margin-bottom: 20px;
  background: linear-gradient(
    197.57deg,
    #323264 11.93%,
    #323264 67.17%,
    #643e72 105.46%
  );
  border-radius: 0px 0px 12px 12px;

  &::after {
    position: absolute;
    right: 0;
    left: 0;

    display: block;

    width: 96vw;
    height: 10px;
    margin-right: auto;
    margin-left: auto;

    content: "";

    border-radius: 0 0 12px 12px;
    background: #cacadb;

    @include sm {
      width: 90vw;
    }
  }

  @include lg {
    padding-top: 250px;
  }

  @include sm {
    padding-top: 150px;
    margin-bottom: 50px;
  }

  &::before {
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;

    display: block;

    width: 93vw;
    height: 10px;
    margin-right: auto;
    margin-left: auto;

    content: "";

    border-radius: 0 0 12px 12px;
    background: #e7e7f2;

    @include sm {
      width: 80vw;
    }
  }

  &__wrap {
    display: flex;
    position: relative;
    z-index: 9;
    max-width: 861px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  &__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-white;
    border-radius: 24px;
    width: 92px;
    height: 92px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    font-size: $font-size-42;
    line-height: 50px;
    text-align: center;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;

    @include sm {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__description {
    font-size: $font-size-21;
    line-height: 30px;
    text-align: center;
    color: $color-white;
    margin-bottom: 40px;

    @include sm {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__buttom {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 1092px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 80px;
    border-top: 4px solid #9898b2;

    @include sm {
      padding-bottom: 20px;
    }
  }

  &__info-title {
    padding-top: 20px;
    font-size: $font-size-24;
    line-height: 28px;
    font-weight: $font-weight-500;
    margin-bottom: 20px;
    color: $color-white;

    @include sm {
      font-size: $font-size-18;
      line-height: 21px;
    }
  }

  &__info-wrap {
    display: flex;
    justify-content: center;

    @include sm-min {
      gap: 40px;
    }

    @include sm {
      flex-direction: column;
    }
  }

  &__info-list {
    max-width: 500px;
    padding-left: 20px;

    @media (max-width: 1132.5px) {
      padding-left: 35px;
    }
  }

  &__info-text {
    font-size: $font-size-18;
    line-height: 26px;
    color: $color-white;
    padding-bottom: 20px;
  }
}
