@use "../presets" as *;
@use "../mixins" as *;

.slider {
  &__header {
    position: relative;

    user-select: none;
    display: none;

    &.active {
      display: grid;
    }
    span {
      background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
      -webkit-background-clip: text;
      background-clip: text;

      -webkit-text-fill-color: transparent;
    }
  }

  &__notes {
  }

  &__note {
    position: absolute;
    z-index: -9999;

    opacity: 0;
    &.active {
      position: static;
      z-index: inherit;

      opacity: 1;
    }
  }

  &__note-title {
    margin-bottom: 20px;

    color: $color-white;

    font-size: 32px;
    font-weight: 400;
    line-height: 38px;

    @include md {
      margin-bottom: 18px;

      font-size: $font-size-22;
      line-height: 26px;
    }
  }

  &__note-description {
    color: $color-white;

    font-size: 21px;
    line-height: 30px;

    @include md {
      font-size: $font-size-18;
      line-height: 26px;
    }
  }

  &__indicators {
    display: none;
    justify-content: center;

    gap: 14px;
    @include md {
      display: flex;
    }

    &--alt {
      display: flex;
    }
  }

  &__indicator {
    width: 16px;
    height: 16px;

    opacity: 0.2;
    border-radius: 8px;
    background: $color-active-regular;

    &.active {
      opacity: 1;
    }
  }
}
