@use "../presets" as *;
@use "../mixins" as *;

.team-people {
  &__flex {
    display: flex;
    justify-content: center;

    margin-bottom: 80px;

    gap: $gap-xl;
    @include lg {
      flex-wrap: wrap;
    }
    @include sm {
      margin-bottom: 40px;

      gap: $gap;
    }
  }

  &__foto {
    max-height: 500px;

    @include sm {
      max-height: 410px;
    }
  }

  &__info {
    max-width: 641px;
  }

  &__title {
    margin-bottom: 10px;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: $font-size-42;
    font-weight: $font-weight-700;
    line-height: 50px;

    @include sm {
      font-size: $font-size-32;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }

  &__actions {
    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 20px;

    gap: $gap-lg;
    @include sm {
      align-items: flex-start;
      flex-direction: column;

      gap: $gap-sm;
    }
  }

  &__work {
    display: inline-block;

    color: $color-grey-bg-text;

    font-weight: $font-weight-500;
    line-height: 22px;
  }

  &__email {
    position: relative;

    display: inline-block;

    transition: 0.4s;

    color: $color-active-regular;

    font-weight: $font-weight-500;
    line-height: 19px;

    &:hover {
      color: $color-accent;
    }

    &::before {
      position: absolute;
      top: 8px;
      left: -18px;

      width: 6px;
      height: 6px;

      content: "";

      border-radius: 3px;
      background: #e6e6f0;

      @include sm {
        display: none;
      }
    }
  }

  &__social {
    position: relative;

    display: inline-block;

    transition: 0.4s;

    color: $color-active-regular;

    font-weight: $font-weight-500;
    line-height: 19px;

    &:hover {
      color: $color-accent;
    }

    &::before {
      position: absolute;
      top: 8px;
      left: -18px;

      width: 6px;
      height: 6px;

      content: "";

      border-radius: 3px;
      background: #e6e6f0;

      @include sm {
        display: none;
      }
    }
  }

  &__text-box {
    padding-top: 40px;

    border-top: 4px solid #e6e6f0;

    @include sm {
      padding-top: 20px;
    }
  }

  &__text {
    color: $color-black;

    font-size: $font-size-18;
    line-height: 26px;
  }

  &__title-text {
    margin-top: 40px;
    margin-bottom: 10px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-main;

    font-size: $font-size-14;
    line-height: 17px;

    @include sm {
      margin-top: 20px;
    }
  }
}
