@use "../presets" as *;
@use "../mixins" as *;

.team {
  padding-bottom: 60px;
  &__title {
    max-width: 864px;
    font-size: $font-size-42;
    line-height: 50px;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-xl;
  }

  &__item {
  }

  &__foto {
    margin-bottom: 20px;
  }

  &__name {
    font-weight: 500;
    font-size: $font-size-18;
    line-height: 21px;
    color: $color-main;
    margin-bottom: 5px;
  }

  &__work {
    line-height: 22px;
    color: $color-grey-bg-text;
  }
}
