@use "../presets" as *;
@use "../mixins" as *;

.team-people {
  &__flex {
    display: flex;
    gap: $gap-xl;
    justify-content: center;
    margin-bottom: 80px;

    @include lg {
      flex-wrap: wrap;
    }

    @include sm {
      gap: $gap;
      margin-bottom: 40px;
    }
  }

  &__foto {
    max-height: 500px;

    @include sm {
      max-height: 410px;
    }
  }

  &__info {
    max-width: 641px;
  }

  &__title {
    font-weight: $font-weight-700;
    font-size: $font-size-42;
    line-height: 50px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 10px;

    @include sm {
      font-size: $font-size-32;
      line-height: 38px;
    }
  }

  &__actions {
    display: flex;
    gap: $gap-lg;
    margin-bottom: 20px;
    position: relative;
    align-items: center;

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: $gap-sm;
    }
  }

  &__work {
    line-height: 22px;
    color: $color-grey-bg-text;
    display: inline-block;
  }

  &__email {
    line-height: 19px;
    display: inline-block;
    color: $color-active-regular;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 6px;
      width: 6px;
      border-radius: 3px;
      background: #e6e6f0;
      left: -18px;
      top: 8px;

      @include sm {
        display: none;
      }
    }
  }

  &__social {
    line-height: 19px;
    color: $color-active-regular;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 6px;
      width: 6px;
      border-radius: 3px;
      background: #e6e6f0;
      left: -18px;
      top: 8px;
      @include sm {
        display: none;
      }
    }
  }

  &__text-box {
    padding-top: 40px;
    border-top: 4px solid #e6e6f0;

    @include sm {
      padding-top: 20px;
    }
  }

  &__text {
    font-size: $font-size-18;
    line-height: 26px;
    color: $color-black;
  }

  &__title-text {
    font-size: $font-size-14;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-main;
    margin-top: 40px;
    margin-bottom: 10px;

    @include sm {
      margin-top: 20px;
    }
  }
}
