@use "../presets" as *;
@use "../mixins" as *;

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  grid-area: cont;
  @include lg-min {
    justify-content: flex-end;
  }
  @include sm-min {
    gap: $gap-md;
  }
  @include sm {
    justify-content: space-between;
  }

  &__lang-link {
    padding: 4px;

    transition: 0.4s;
    letter-spacing: 1px;

    color: $color-white;
    border-radius: 8px;

    font-size: $font-size-12;
    font-weight: $font-weight-700;
    line-height: 14px;

    grid-area: lang;
    @include sm {
      // color: $color-grey-bg-text;
    }

    &--alt {
      transition: 0.4s;

      color: $color-grey-bg-text;
      border-radius: 8px;



      &:hover {
        color: $color-white;
        background: $color-accent;
      }
    }

    &:hover {
      padding: 4px;

      border-radius: 8px;
      background: $color-accent;
    }

    &--active {
      padding: 4px;

      border-radius: 8px;
      background: $color-accent;

      @include sm {
        color: $color-white;
      }
    }
  }

  &__address-link {
    padding: 5px;

    transition: 0.4s;

    color: $color-white;

    font-style: normal;
    line-height: 19px;

    @include sm {
      display: none;
    }

    &--alt {
      color: $color-grey-bg-text;

      font-weight: $font-weight-500;
    }

    &:hover {
      color: $color-accent;
    }
  }

  &__phone {
    @include sm {
      margin-left: auto;
    }
  }

  &__phone-link {
    padding: 5px;

    transition: 0.4s;

    color: $color-white;

    font-weight: $font-weight-700;
    line-height: 19px;

    @include sm {
      padding: 5px 0 5px 5px;

      // color: $color-grey-bg-text;
    }

    &--alt {
      color: $color-grey-bg-text;
    }

    &:hover {
      color: $color-accent;
    }
  }

  &__social-link {
    padding: 5px 0 5px 5px;

    @include sm {
      display: none;
    }
  }

  &__social-img {
    transition: 0.4s;

    &:hover {
      fill: $color-accent;
    }
  }
}
