@use "../presets" as *;
@use "../mixins" as *;

.contacts {
  display: flex;
  grid-area: cont;
  align-items: baseline;
  gap: $gap-sm;

  @include md-min {
    justify-content: flex-end;
  }

  @include sm {
    justify-content: space-between;
  }

  &__lang {
    font-weight: $font-weight-700;
    font-size: $font-size-12;
    line-height: 14px;
    letter-spacing: 1px;
    color: $color-white;
    grid-area: lang;
    padding: 3px;

    @include sm {
      color: $color-grey-bg-text;
    }

    &--active {
      background: $color-accent;
      border-radius: 8px;
      padding: 5px;

      @include sm {
        color: $color-white;
      }
    }
  }

  &__wrap {
  }

  &__address {
    line-height: 19px;
    color: $color-white;
    padding: 5px;
    grid-area: adr;

    @include lg {
    }

    @include sm {
      display: none;
    }
  }

  &__phone {
    font-weight: $font-weight-700;
    line-height: 19px;
    color: $color-white;
    padding: 5px;
    margin-left: -10px;
    grid-area: phone;

    @include sm {
      color: $color-grey-bg-text;
    }
  }

  &__social {
    margin-left: -7px;
    grid-area: social;
    @include sm {
      display: none;
    }
  }

  &__social-img {
  }

  &__menu {
  }
}
