@use "../presets" as *;
@use "../mixins" as *;

.contacts {
  display: flex;
  align-items: center;

  grid-area: cont;
  @include lg-min {
    justify-content: flex-end;
  }
  @include sm-min {
    gap: $gap-md;
  }
  @include sm {
    justify-content: space-between;
  }

  &__lang {
  }

  &__lang-link {
    padding: 4px;
    &:hover {
      border-radius: 8px;
      background: #ededf7;
      padding: 4px;
      color: $color-grey-bg-text;
    }

    letter-spacing: 1px;

    color: $color-white;

    font-size: $font-size-12;
    font-weight: $font-weight-700;
    line-height: 14px;

    grid-area: lang;
    @include sm {
      color: $color-grey-bg-text;
    }

    &--active {
      padding: 5px;

      border-radius: 8px;
      background: $color-accent;

      @include sm {
        color: $color-white;
      }
    }
  }

  &__address-link {
    padding: 5px;

    color: $color-white;

    font-style: normal;
    line-height: 19px;

    transition: 0.2s linear;

    &:hover {
      color: $color-accent;
    }

    @include sm {
      display: none;
    }
  }

  &__phone {
    @include sm {
      margin-left: auto;
    }
  }

  &__phone-link {
    padding: 5px;

    color: $color-white;

    font-weight: $font-weight-700;
    line-height: 19px;
    transition: 0.2s linear;

    &:hover {
      color: $color-accent;
    }

    @include sm {
      padding: 5px 0 5px 5px;
      color: $color-grey-bg-text;
    }
  }

  &__social-link {
    padding: 5px 0 5px 5px;

    @include sm {
      display: none;
    }
  }

  &__social-img {
    transition: 0.2s linear;
    &:hover {
      fill: $color-accent;
    }
  }
}
