@use "../presets" as *;
@use "../mixins" as *;

.contacts {
  // display: flex;
  // flex-direction: column;
  // align-items: end;
  // gap: $gap-md 0px;

  // &__contact {
  //   display: flex;
  //   gap: $gap-sm;
  //   align-items: baseline;

  // }
  display: flex;
  grid-area: cont;
  align-items: baseline;
  gap: $gap-sm;

  @include md-min {
    justify-content: flex-end;
  }

  @include md {
    // flex-direction: column;
    // align-items: end;
    // margin-bottom: 10px;
  }

  &__lang {
    font-weight: $font-weight-700;
    font-size: $font-size-12;
    line-height: 14px;
    letter-spacing: 1px;
    color: $color-white;
    text-transform: uppercase;
    grid-area: lang;

    @include lg-min {
      font-size: $font-size-12;
    }

    @include lg {
      font-size: $font-size-10;
    }
    &--active {
      background: $color-accent;
      border-radius: 8px;
      padding: 5px;
    }
  }

  &__wrap {
  }

  &__address {
    line-height: 19px;
    color: $color-white;
    padding: 5px;
    grid-area: adr;

    @include lg {
      font-size: $font-size-14;
    }
  }

  &__phone {
    font-weight: $font-weight-700;
    line-height: 19px;
    color: $color-white;
    padding: 5px;
    margin-left: -10px;
    grid-area: phone;

    @include lg {
      font-size: $font-size-14;
    }
  }

  &__phone::before {
    content: "\2022";
    color: $color-grey-bg-separator;
    margin-right: 7px;
    display: inline-block;
    font-size: 23px;
  }

  &__social {
    margin-left: -7px;
    grid-area: social;
  }

  &__social::before {
    content: "\2022";
    color: $color-grey-bg-separator;
    margin-right: 7px;
    display: inline-block;
    font-size: 30px;
  }

  &__social-img {
  }

  &__menu {
  }
}
