@use "../presets" as *;
@use "../mixins" as *;

.navbar {
  z-index: 10;

  grid-area: burger;
  @include sm {
    margin-left: auto;
  }
  @include lg-min {
    @include lg {
    }
  }

  &__list {
    display: flex;

    gap: 5px;
    grid-area: menu;
    @include unlist;
    @include lg-min {
      justify-content: end;

      margin-right: -5px;
    }
    @include lg {
      margin-left: -5px;
    }
    @include sm {
      position: absolute;
      top: 0;
      right: -210px;

      display: none;

      width: 210px;
      height: 110vh;
      padding: $gap;

      background-color: $color-main;
    }

    &.active {
      @include sm {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__link {
    display: block;

    padding: 5px 5px 5px 5px;

    transition: 0.4s;

    color: $color-white;

    font-size: $font-size-18;
    line-height: 21px;

    &--alt {
      color: $color-active-regular;

      font-weight: $font-weight-500;

      @include sm {
        color: $color-white;
      }
    }

    &:hover {
      color: $color-accent;
    }

    &--accent {
      text-decoration: underline;
    }

    &--accent-alt {
      text-decoration: underline;

      color: $color-accent;

      @include sm {
        color: $color-accent;
      }
    }
  }

  &__burger {
    position: relative;

    width: 18px;
    height: 30px;

    cursor: pointer;

    @include sm-min {
      display: none;
    }
    @include xs {
      width: 18px;
      height: 30px;
    }

    span {
      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      height: 6%;

      transition: 0.4s;
      transform: rotate(0deg);

      opacity: 1;
      background-color: $color-grey-bg-text;

      @include xs {
        height: 6%;
      }

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 6px;

        @include xs {
          top: 6px;
        }
      }

      &:nth-of-type(3) {
        top: 12px;

        @include xs {
          top: 12px;
        }
      }
    }

    &.active {
      position: absolute;
      z-index: 10;
      top: 20px;
      right: -190px;
    }

    &.active span {
      &:nth-of-type(1) {
        top: 6px;

        transform: rotate(135deg);
      }

      &:nth-of-type(2) {
        left: 0;

        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 6px;

        transform: rotate(-135deg);
      }
    }
  }
}

.header {
  transition: 0.4s;

  &.active {
    position: relative;

    width: 100vw;
    height: 110vh;

    transform: translateX(-210px);

    &::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      content: "";

      opacity: 0.6;
      background: $color-black;
    }
  }
}
