@use "../presets" as *;
@use "../mixins" as *;

.navbar {
  z-index: 10;

  grid-area: burger;
  @include sm {
    margin-left: auto;
  }
  @include lg-min {
    @include lg {
    }
  }

  &__list {
    display: flex;

    gap: $gap-sm;
    grid-area: menu;
    @include unlist;
    @include lg-min {
      justify-content: end;
    }
    @include lg {
      margin-left: -5px;
    }
    @include sm {
      display: none;
    }
  }

  &__link {
    padding: 5px 0 5px 5px;

    transition: 0.2s linear;

    color: $color-white;

    font-size: $font-size-18;
    line-height: 21px;

    &:hover {
      color: $color-accent;
    }

    &--accent {
      text-decoration: underline;
    }
  }
}

.navbar__burger {
  position: relative;

  width: 18px;
  height: 30px;

  cursor: pointer;

  @include sm-min {
    display: none;
  }
  @include xs {
    width: 18px;
    height: 30px;
  }

  span {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 6%;

    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    opacity: 1;
    background-color: $color-white;

    @include xs {
      height: 6%;
    }

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 6px;

      @include xs {
        top: 6px;
      }
    }

    &:nth-of-type(3) {
      top: 12px;

      @include xs {
        top: 12px;
      }
    }
  }

  &.active span {
    &:nth-of-type(1) {
      top: 6px;

      transform: rotate(135deg);
    }

    &:nth-of-type(2) {
      left: -40px;

      opacity: 0;
    }

    &:nth-of-type(3) {
      top: 6px;

      transform: rotate(-135deg);
    }
  }
}
