@use "../presets" as *;
@use "../mixins" as *;

.footer {
  background: $color-grey-bg;
  &__social-img {
    transition: 0.2s linear;
    &:hover {
      fill: $color-accent;
    }
  }
  &__container {
    display: flex;
    // border-top: 4px solid $color-grey-bg-separator;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 28px;
    padding-bottom: 40px;

    border-top: 4px solid $color-grey-bg-separator;

    gap: $gap;
    @include md {
      justify-content: center;

      padding-top: 20px;
      padding-bottom: 120px;
    }

    &--border {
      border-top: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    margin-bottom: 20px;

    font-style: normal;

    gap: 25px;
    @include xs {
      flex-direction: column;
      justify-content: center;

      gap: $gap-sm;
    }
  }

  &__adress {
    color: $color-main;

    font-weight: 500;
    line-height: 19px;
  }

  &__adress-title {
    font-weight: $font-weight-700;
  }

  &__adress-link {
    transition: 0.2s linear;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active-regular;

    font-size: $font-size-12;
    font-weight: 700;
    line-height: 14px;

    &:hover {
      color: $color-accent;
    }
  }

  &__contacts-second {
    display: flex;
    align-items: center;

    gap: 25px;
    @include xs {
      flex-direction: column;
      justify-content: center;

      gap: 20px;
    }
  }

  &__phone-link {
    transition: 0.2s linear;

    color: $color-main-alt;

    font-weight: $font-weight-700;
    line-height: 19px;

    &:hover {
      color: $color-accent;
    }
  }

  &__email-link {
    transition: 0.2s linear;

    color: $color-active-regular;

    font-weight: 700;
    line-height: 14px;

    &:hover {
      color: $color-accent;
    }
  }

  &__copyright {
    color: $color-grey-bg-text;

    font-weight: 500;
    line-height: 19px;

    @include md {
      text-align: center;
    }
  }
}
