$color-accent: #f0145a;
$color-black: #000000;
$color-white: #ffffff;
$color-main: #323264;
$color-main-alt: #46466e;
$color-main-soft: #686887;
$color-active-regular: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;
$color-grey-bg: #f5f5fa;
$color-grey-bg-alt: #ededf7;
$color-grey-bg-text: #b3b3ba;
$color-grey-bg-separator: #e6e6f0;
