@use "../presets" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: $font-size-16;
  font-weight: normal;
  font-style: normal;
}

body {
  &.active {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    transform: translateX(-170px);

    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: $color-black;
      opacity: 0.6;
    }
  }
}

// .body {
//   // overflow-x: hidden;

//   // width: 100%;

//   // color: $color-black;
// }

a {
  text-decoration: none;

  color: $color-black;
}
